<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287127504972-4khpofj5e2h399tm74co4ess28pv6vhk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287127504972-4khpofj5e2h399tm74co4ess28pv6vhk</string>
	<key>API_KEY</key>
	<string>AIzaSyBE252ynEzihjm9Det2ZfYkM32V81e5k58</string>
	<key>GCM_SENDER_ID</key>
	<string>287127504972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.callMe</string>
	<key>PROJECT_ID</key>
	<string>call-me-a165b</string>
	<key>STORAGE_BUCKET</key>
	<string>call-me-a165b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287127504972:ios:eca736fa1339dcbcf3cce9</string>
</dict>
</plist>